html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-cell, .right-cell {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-cell {
    border-left: 2px dotted black;
}
.left-cell {
    border-right: 2px dotted black;
}

.inputFrame {
    min-width: 18cm;
    min-height: auto;
    border: 2px solid black;
    vertical-align: middle;
    width: 12cm;
    height: 6cm;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
}

.outputFrame {
    min-width: 18cm;
    min-height: auto;
    border: 2px solid black;
    vertical-align: middle;
    width: 12cm;
    border-radius: 7px;
    padding: 20px;
    box-sizing: border-box;
}


.row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

input, button {
    padding: 10px;
    font-size: 1rem;
}

.tableCol {
    text-align: center;
    border: 1px double rgb(0, 0, 10);
}